[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
Packages/com.unity.package-manager/ProjectCache/
.vs

# File cá nhân không nên chia sẻ
*.csproj
*.sln
*.userprefs
*.pidb
*.suo
*.vsp
*.vspx
*.unityproj
*.tmproj
*.vsidx